<!-- <p>navbar works!</p> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >ART FORMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" aria-current="page" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="artforms">Art Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="singlepage">Single Page</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signin">Sign In</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> 


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" >Indian Art Forms</a>
      <button
        class="navbar-toggler"
        type="bu  tton"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="home-page.component.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="artforms.component.html">Artforms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="contact.component.html">Contact Us</a>
          </li>
        </ul> 
         <span class="navbar-item">
          <a class="nav-link text-white" href="signin.component.html" style="margin-left: -10px;">Sign In</a>
        </span>
        <span class="navbar-item" style="margin-left: 10px;">
          <a class="nav-link text-white" href="signup.component.html">Sign Up</a>
        </span>
      </div>
    </div>
  </nav>  -->